
{% if tag != "post" %}
   <a href="https://sdeehub.github.io/td/posts/list_{{ tag | url }}">
   {% if tag == "sdee" %}
   <span class="badge rounded-pill bg-secondary text-capitalize">S'DEE</span></a>
   {% elif tag == "jp" %}
   <span class="badge rounded-pill bg-secondary text-capitalize">JP</span></a>
   {% elif tag == "my" %}
   <span class="badge rounded-pill bg-secondary text-capitalize">MY</span></a>
   {% elif tag == "th" %}
   <span class="badge rounded-pill bg-secondary text-capitalize">TH</span></a>
   {% else %}
   <span class="badge rounded-pill bg-secondary text-capitalize">{{ tag }}</span></a>
   {% endif %}
{% endif %}